<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="w-25 container">
        <% if (!isAuth) { %>
        <form class="form" action="/signup %>" method="POST">
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" required type="text" name="username" id="username"
                    placeholder="Enter your username">
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input class="form-control" required type="email" name="email" id="email"
                    placeholder="Enter your signup email">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input class="form-control" required type="password" name="password" id="password"
                    pattern=".{6,}" placeholder="Minimun 6 characters">
            </div>
            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input class="form-control" required type="password" name="confirmPassword" id="confirmPassword"
                pattern=".{6,}">
            </div>
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <button class="btn btn-success" type="submit">Signup</button>
        </form>
        <% } else { %>
        <h4>You have already logged in!</h4>
        <% } %>
    </main>
    <script src="/js/confirmPassword.js"></script>
    <%- include('../includes/end.ejs') %>