<% if (errorMessage.length > 0) { %>
<div class="alert alert-danger alert-dismissible fade show">
    <strong>Holy guacamole!</strong> <%= typeof(errorMessage) === 'string' ? errorMessage : errorMessage[0] %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<% } %>