body {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
    padding: 1rem;
}

button {
    width: 100%;
    font: inherit;
    border: 1px solid seagreen;
    border-radius: 3px;
    color: seagreen;
    background: whitesmoke;
    cursor: pointer;
}

button:hover,
button:active {
    background-color: seagreen;
    color: whitesmoke;
}

.main-header {
    width: 100%;
    height: 3.5rem;
    padding: 0 1.5rem;
    background-color: seagreen;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

.main-header__item {
    padding: 0 1rem;
    margin: 0;
}

.main-header__item a {
    text-decoration: none;
    color: black;
}

.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active {
    color: springgreen;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
}

.card {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
    margin-bottom: 1.5rem;
}

.card__header,
.card__content {
    padding: 1rem;
}

.card__header h1,
.card__content h1,
.card__content h2,
.card__content p {
    margin: 0;
}

.card__image {
    width: 100%;
}

.card__image img {
    width: 100%;
}

.card__actions {
    padding: 1rem;
    text-align: center;
}

.card__actions button,
.card__actions a {
    margin: 0 0.25rem;
}


